.mainContainer{
    width: 100vw;
    height: 89.1vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstHalf{
    /* background-color: red; */
    width: 60%;
    height: 20%;
    /* paddiu-top : 10%; */
    margin-left: 10vw;
}


.greeting{
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: bold;
}

.helloSection{
    font-size: 1.7rem;
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nameSpan{
    color: rgb(163, 20, 68);
    font-weight: bold;
}

.autoTypingSection{
    color: rgb(173, 6, 62);
    font-size: 2rem;
    font-weight: 900;
}

.image{
    /* background-color: aliceblue; */
    width: 60vw;
    height: 60vh;
    color: aliceblue;
}